Repository modern-agile-team/9term-mini-front, pull requests merged in 2025-03, with the labels that each got.

#24 Fix/api
  insta-clone/package-lock.json
  insta-clone/package.json
  insta-clone/src/hooks/useComments.js
  insta-clone/src/hooks/useFetchPosts.js
  insta-clone/src/hooks/useLike.js
  insta-clone/src/main.jsx
  insta-clone/src/mocks/handlers.js
  insta-clone/src/mocks/handlers/authHandlers.js
  insta-clone/src/mocks/handlers/commentHandlers.js
  insta-clone/src/mocks/handlers/postHandlers.js
  insta-clone/src/pages/Auth/ProfileModal.jsx
  insta-clone/src/pages/Home/CommentInput.jsx
  insta-clone/src/pages/Home/CommentList.jsx
  insta-clone/src/pages/Home/Feed.jsx
  insta-clone/src/pages/Home/FeedCard.jsx
  insta-clone/src/pages/Posts/CreatePostModal.jsx
  insta-clone/src/services/apiClient.js
  insta-clone/src/store/AuthContext.jsx
  insta-clone/vite.config.js
Labels: 📬 API

#25 fix : logout api
  insta-clone/src/hooks/useAuth.js
  insta-clone/src/mocks/handlers/authHandlers.js
  insta-clone/src/pages/Home/Footer.jsx
  insta-clone/src/services/apiClient.js
Labels: 📬 API

#30 fix/liked/#27
  insta-clone/src/hooks/useLike.js
  insta-clone/src/pages/Home/FeedCard.jsx
Labels: 🐛bug fix

#33 https연결
  insta-clone/src/main.jsx
  insta-clone/src/services/apiClient.js
Labels: 📬 API

#35 Fix/slash
  insta-clone/src/hooks/useAuth.js
  insta-clone/src/hooks/useComments.js
  insta-clone/src/hooks/useFetchPosts.js
  insta-clone/src/mocks/handlers/authHandlers.js
  insta-clone/src/mocks/handlers/commentHandlers.js
  insta-clone/src/mocks/handlers/postHandlers.js
  insta-clone/src/pages/Auth/ProfileModal.jsx
  insta-clone/src/pages/Posts/CreatePostModal.jsx
  insta-clone/vite.config.js
Labels: 🐛bug fix

#37 Update vite.config.js
  insta-clone/vite.config.js
Labels: 🐛bug fix

#41 Fix/#40/post api
  insta-clone/src/App.jsx
  insta-clone/src/hooks/useAuth.js
  insta-clone/src/hooks/useComments.js
  insta-clone/src/hooks/useFetchPosts.js
  insta-clone/src/hooks/useLike.js
  insta-clone/src/main.jsx
  insta-clone/src/mocks/handlers/authHandlers.js
  insta-clone/src/mocks/handlers/commentHandlers.js
  insta-clone/src/mocks/handlers/postHandlers.js
  insta-clone/src/pages/Auth/Login.jsx
  insta-clone/src/pages/Auth/ProfileModal.jsx
  insta-clone/src/pages/Auth/Signup.jsx
  insta-clone/src/pages/Home/CommentInput.jsx
  insta-clone/src/pages/Home/CommentList.jsx
  insta-clone/src/pages/Home/Feed.jsx
  insta-clone/src/pages/Home/FeedCard.jsx
  insta-clone/src/pages/Home/FeedList.jsx
  insta-clone/src/pages/Home/Footer.jsx
  insta-clone/src/pages/Home/Navbar.jsx
  insta-clone/src/pages/Posts/CreatePostModal.jsx
  insta-clone/src/routes/index.jsx
  insta-clone/src/services/apiClient.js
  insta-clone/src/store/AuthContext.jsx
  insta-clone/src/store/usePostStore.js
  insta-clone/src/store/useProfileStore.jsx
Labels: 🐛bug fix, 📬 API

#47 fix: 렌더링 최적화 및 불필요한 네트워크 요청 제거
  insta-clone/src/hooks/useAuth.js
  insta-clone/src/hooks/useComments.js
  insta-clone/src/hooks/useFetchPosts.js
  insta-clone/src/main.jsx
  insta-clone/src/mocks/handlers/authHandlers.js
  insta-clone/src/pages/Auth/Login.jsx
  insta-clone/src/pages/Home/CommentInput.jsx
  insta-clone/src/pages/Home/CommentList.jsx
  insta-clone/src/pages/Home/FeedCard.jsx
  insta-clone/src/pages/Home/FeedList.jsx
  insta-clone/src/services/apiClient.js
Labels: 🐛bug fix
